<%-include('partials/header')%>  
<%-include('partials/sidebar') %>
          <!-- Main body -->
        <div class="main">
            <%-include('partials/navbar') %>
            <div class="container">
                <h1>Patients List</h1>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>                       
                            <th>Patient ID</th>   
                            <th>Name</th>
                            <th>Diagnosis</th>
                            <th>Date of birth</th>                                                                               
                            <th>Actions</th>                                                     
                        </tr>
                    </thead>
                    <tbody>
                        <% if(patients.length === 0) {%>
                            <tr>
                                <td colspan="4" class="text-center">No patients found.</td>
                            </tr>
                        <%} else {%>
                            <% patients.forEach(patient => { %>
                                <tr>              
                                <td><%= patient.patient_id %></td>           
                                <td>
                                        <%
                                            const nameResponse = patient.response.find(r => r.question_id==="q0_0")
                                            if(nameResponse){
                                        %>                   
                                            <%= nameResponse.response %>             
                                        <%
                                            }
                                        %>
                                </td>  
                                <td>
                                    <% 
                                        const diagnosisResponse=patient.response.find(r=>r.question_id==="q2_0_0") 
                                        if(diagnosisResponse) {
                                    %>
                                        <%= diagnosisResponse.response %>
                                    <% 
                                        }else{
                                    %>
                                    <%= "N/A" %>
                                    <%
                                        }
                                    %>
                                </td>
                                <td>
                                        <% 
                                            const dobResponse = patient.response.find(r => r.question_id === "q0_1");
                                            if (dobResponse) { 
                                        %>
                                            <%= dobResponse.response %> 
                                        <% 
                                            } 
                                        %>
                                </td> 
                                <!-- Only displays when logged in -->                                                               
                                <td>
                                    <%- include('./partials/confirm_modal') %>
                                    <!-- Call to action button -->                                                                
                                    <ul class="list-inline m-0 ms-auto">    
                                        <li class="list-inline-item">
                                            <a href="<%= patientPrefix %>/view/<%= patient.patient_id %>" class="btn btn-info btn-sm" type="button" title="View"><i class='bx  bx-eye-alt'  ></i> </a>
                                        </li>    
                                        <% if (role==="Admin") { %>                           
                                        <li class="list-inline-item">
                                            <a href="<%= patientPrefix %>/edit/<%= patient.patient_id %>" class="btn btn-success btn-sm" type="=button" title="Edit"><i class='bx bx-edit'></i></a>
                                        </li>
                                        <li class="list-inline-item"> 
                                            <form action="<%= patientPrefix %>/delete_patient/<%= patient.patient_id %>" method="post" style="display: inline;" id="deleteForm-<%= patient.patient_id %>">
                                                <button class="btn btn-danger btn-sm delete-btn" type="button" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" data-patient-id="<%= patient.patient_id %>" title="Delete">
                                                    <i class='bx bx-trash'></i>
                                                </button>
                                            </form>
                                        </li>
                                        <% } %>  
                                    </ul>                                
                                </td>                                                                                                   
                                </tr>
                            <% }); %>
                        <% } %>
                    </tbody>
                </table> 
            </div>         
        </div>
    </div>          
<%-include('partials/footer')%>