<%- include('partials/header') %> 
<%- include('partials/sidebar')%>
          <!-- Main body -->
        <div class="main">
            <%- include('partials/navbar') %>
            <div class="container d-flex flex-column justify-content-center" style="width: 100%;">
                <div class="mb-3 m-auto">
                    <h1>Patient Data</h1>
                </div>                
                <div class="card m-auto" style="width: 40rem; padding: 40px;">
                        <!-- Loop through every response -->                   
                        <% 
                        patient.response.forEach(answer => { 
                            let matchedQuestion = null;
                            
                            // Find the question in the question collection
                            questions.sections.forEach(section => {
                                section.questions.forEach(q => {
                                    if (q.question_id === answer.question_id) {    
                                        matchedQuestion = q;                                                                                                                   
                                    }
                                    if (q.follow_up){
                                        q.follow_up.forEach(followUp=>{
                                            if(followUp.question_id===answer.question_id){
                                                matchedQuestion=followUp;
                                            }
                                        })
                                    }
                                });
                            });
                    
                            if (matchedQuestion) { 
                        %>
                        <div class="col mb-3 p-2 border-bottom">
                            <div class="fw-bold text-danger">
                                <label><%= matchedQuestion.question %></label>
                            </div>
                            <div class="text-dark">
                                <label><%= answer.response %></label>
                            </div>
                        </div>         
                        <% 
                            } 
                        }); 
                        %>                     
                </div>             
            </div>         
        </div>
    </div>           
<%- include('partials/footer') %>